<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>メール文面 :  </h1>
    <%= MAIL %>

    <h1> 添削：</h1>
    <%= RES %>

    <form method="get" action="/test">
      <textarea class="tarea" name="email"></textarea>
      <button>送信</button>
    </form>

  </body>
</html>